<p>The dataset consists of fake data that will be evaluated. It will have an answer key.</p>
<p>Participants are asked to submit files that contain the key, representing classification cases, and class (one of three choices within set {'a','b'}). The contents of an example sumission file is shown below:</p>
<table style="width: 39px;">
    <tbody>
        <tr>
            <th>key,</th>
            <th>class</th>
        </tr>
        <tr style="height: 23px;">
            <td>1</td>
            <td>a</td>
        </tr>
        <tr style="height: 23px;">
            <td>2</td>
            <td>a</td>
        </tr>
        <tr style="height: 23px;">
            <td>3</td>
            <td>b</td>
        </tr>
        <tr style="height: 23px;">
            <td>4</td>
            <td>a</td>
        </tr>
        <tr style="height: 23px;">
            <td>5</td>
            <td>b</td>
        </tr>
        <tr style="height: 23px;">
            <td>6</td>
            <td>b</td>
        </tr>
        <tr style="height: 23px;">
            <td>7</td>
            <td>a</td>
        </tr>
        <tr style="height: 23px;">
            <td>8</td>
            <td>a</td>
        </tr>
        <tr style="height: 23px;">
            <td>9</td>
            <td>b</td>
        </tr>
        <tr style="height: 23px;">
            <td>10</td>
            <td>b</td>
        </tr>
    </tbody>
</table>
